body {
  margin: auto;
  width: 50%;
  padding: 50px 20px;
  text-align: center;
  font-family: Helvetica;
}

h1 {
  background-color: #e0e0e0;
  color: #280711;
  font-weight: lighter;
  font-variant: small-caps;
  font-size: 2em;
  margin: 0.67em 0;
  padding: 0.67em 0;
}

p {
  margin: 1em 0;
  color: #280711;
}

.fa-twitter-square {
  color: #1DA1F2;
}

.fa-envelope-square {
  color: #828282;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
